/* LESS Document */
* {
  margin: 0;
  padding: 0;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
audio,
canvas,
video {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
  visibility: hidden;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
code,
kbd,
pre,
samp {
  font-family: monospace,serif;
  font-size: 1em;
}
del {
  font-family: Arial;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
  font-weight: normal;
}
em,
q,
cite,
address {
  font-weight: normal;
  font-style: normal;
}
address {
  display: inline;
}
big,
small {
  font-size: 12px;
}
body {
  font: 14px/1.5 Microsoft Yahei, "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
  vertical-align: middle;
  color: #333;
  background: #ffffff;
}
img {
  border: 0;
}
li {
  list-style: none;
}
i {
  font-style: normal;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
}
strong {
  font-weight: bold;
}
del {
  font-family: Simsun;
}
dfn {
  padding-right: 2px;
  text-decoration: none;
  font-family: Arial;
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  text-align: left;
  font-weight: normal;
}
fieldset,
legend {
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button,
input,
select,
select optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
  vertical-align: middle;
}
button,
input,
select[multiple],
textarea {
  background-image: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/* link */
a {
  color: #4d4d4d;
  text-decoration: none;
  outline-style: none;
  cursor: pointer;
}
a:hover {
  color: #06c;
  text-decoration: underline;
  transition: color .20s linear;
  -o-transition: color .20s linear;
  -webkit-transition: color .20s linear;
  -moz-transition: color .20s linear;
}
a:link {
  text-decoration: none;
  cursor: pointer;
}
i {
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*---------- 实用工具 ----------*/
/* form */
input,
select {
  vertical-align: middle;
  font-size: 14px;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
  color: #333;
  outline: none;
}
input[type="text"]:disabled {
  background-color: #bbbbbb;
  color: #666;
}
input[type="checkbox"],
input[type="radio"] {
  margin-right: 4px;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background-color: #33b0c4;
  color: #fff;
}
/* input placeholder color */
input::-webkit-input-placeholder {
  color: #bbbbbb;
  text-transform: uppercase;
}
input::-moz-placeholder {
  color: #bbbbbb;
  text-transform: uppercase;
}
input:-moz-placeholder {
  /* Older versions of Firefox */
  color: #bbbbbb;
  text-transform: uppercase;
}
input:-ms-input-placeholder {
  color: #bbbbbb;
  text-transform: uppercase;
}
/* 清除浮动 */
/* 圆角 */
/* link in text */
a.t {
  text-decoration: underline;
}
a.t:hover {
  color: #f30;
  text-decoration: underline;
}
/* clear float */
.cf {
  zoom: 1;
}
/* for IE */
.cf:after {
  content: ".";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
/* for other */
/* end of clear float */
/* float */
.left {
  float: left;
}
.right {
  float: right;
}
.fnone {
  float: none;
}
.middle {
  float: left;
}
/* text-align */
.tleft {
  text-align: left;
}
.tright {
  text-align: right;
}
.tcenter {
  text-align: center;
}
/* display */
.dis {
  display: block;
}
.undis {
  display: none;
}
/*常用字号*/
/*常用颜色*/
/* 圆角  */
/*边框圆角*/
.sanjiao {
  border-width: 20px;
  border-color: transparent transparent #cccccc transparent;
  border-style: dashed dashed solid dashed;
  width: 0;
  height: 0;
  overflow: hidden;
}
/* clicked color */
.clcikActive {
  color: #ffffff;
  background: #33b0c4;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
/*单行载断*/
/*单行载断溢出省略号*/
/*3行载断溢出省略号*/
/* 面包屑 */
.crumb {
  display: none;
}
@media (min-width: 768px) {
  .crumb {
    display: block;
    *zoom: 1;
    zoom: 1;
    line-height: 50px;
  }
  .crumb:after {
    content: " ";
    clear: both;
    display: table;
  }
  .crumb p {
    color: #999;
  }
  .crumb p a {
    padding: 0 10px;
  }
  .crumb p span {
    padding-left: 10px;
  }
}
/*配模式定位*/
/*1200屏*/
/* 背景自适应 */
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?-ivr5ln');
  src: url('fonts/icomoon.eot?#iefix-ivr5ln') format('embedded-opentype'), url('fonts/icomoon.ttf?-ivr5ln') format('truetype'), url('fonts/icomoon.woff?-ivr5ln') format('woff'), url('fonts/icomoon.svg?-ivr5ln#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?kabozi');
  src: url('fonts/icomoon.eot?#iefixkabozi') format('embedded-opentype'), url('fonts/icomoon.woff?kabozi') format('woff'), url('fonts/icomoon.ttf?kabozi') format('truestype'), url('fonts/icomoon.svg?kabozi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"],
i {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrap {
  max-width: 1200px;
  margin: 0 auto;
  min-width: 1024px;
}
.index-header2 {
  position: fixed;
  left: 0px;
  top: 0px;
  min-width: 1024px;
  width: 100%;
  background-color: #000000;
  *zoom: 1;
  zoom: 1;
  height: 50px;
  z-index: 99;
}
.index-header2:after {
  content: " ";
  clear: both;
  display: table;
}
.index-header2 .indexleft {
  width: 50%;
  float: left;
}
.index-header2 .indexleft .logo {
  float: left;
  margin-top: 10px;
}
.index-header2 .indexleft ul {
  float: left;
  margin-left: 20px;
}
.index-header2 .indexleft ul li {
  float: left;
  width: 70px;
  line-height: 50px;
  text-align: center;
}
.index-header2 .indexleft ul li a {
  color: #999999;
}
.index-header2 .indexright {
  width: 50%;
  float: right;
}
.index-header2 .indexright .searchinput {
  margin-top: 10px;
  float: right;
  height: 30px;
  width: 224px;
  position: relative;
  margin-right: 21px;
}
.index-header2 .indexright .searchinput input {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  border: 1px solid #71787d;
  padding-right: 50px;
  padding-left: 10px;
  box-sizing: border-box;
  background-color: transparent;
  color: #fff;
}
.index-header2 .indexright .searchinput a {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  top: 0;
}
.index-header2 .indexright .searchinput a i {
  font-size: 19px;
  color: #71787d;
}
.index-header2 .indexright .info {
  float: right;
}
.index-header2 .indexright .info > ul > li {
  cursor: pointer;
  text-align: center;
  width: 50px;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  font-size: 21px;
  vertical-align: middle;
  position: relative;
}
.index-header2 .indexright .info > ul > li .peo-copy {
  display: none;
  width: 100%;
  height: 4px;
  bottom: -2px;
  background-color: #262626;
  position: absolute;
  z-index: 100;
}
.index-header2 .indexright .info > ul > li:nth-of-type(3) i {
  font-size: 30px;
  display: block;
  float: left;
  margin-top: 16px;
  margin-left: 10px;
}
.index-header2 .indexright .info > ul > li i {
  color: #71787d;
}
.index-header2 .indexright .info > ul > li.phone {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}
.index-header2 .indexright .info > ul > li.phone .people-sel {
  display: none;
  position: absolute;
  top: 50px;
  right: -1px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #262626;
  z-index: 99;
  border: 1px solid #000000;
}
.index-header2 .indexright .info > ul > li.phone .people-sel ul li {
  width: 160px;
  line-height: 40px;
  border-bottom: 1px solid #000000;
}
.index-header2 .indexright .info > ul > li.phone .people-sel ul li a {
  color: #999999;
  font-size: 14px;
}
.index-header2 .indexright .info > ul > li.phone.selected {
  border-color: #262626;
  background-color: #262626;
}
.index-header2 .indexright .info > ul > li.phone.selected .peo-copy {
  display: block;
}
.index-header2 .indexright .info > ul > li.phone.selected .people-sel {
  display: block;
}
.index-header2 .indexright .info > ul > li.phone i:last-of-type,
.index-header2 .indexright .info > ul > li.people i:last-of-type {
  font-size: 22px;
  margin: 0 3px;
}
.index-header2 .indexright .info > ul > li:nth-of-type(2) span,
.index-header2 .indexright .info > ul > li:nth-of-type(3) span {
  font-size: 12px;
  display: block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  background-color: #dd5555;
  color: #ffffff;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  top: 16px;
}
.index-header2 .indexright .info > ul > li:nth-of-type(2) span i {
  vertical-align: middle;
  color: #ffffff;
}
.index-header2 .indexright .info > ul > li:nth-of-type(4) {
  margin-left: 20px;
  width: 80px;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}
.index-header2 .indexright .info > ul > li:nth-of-type(4) .people-sel {
  display: none;
  position: absolute;
  top: 50px;
  right: -1px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #262626;
  z-index: 99;
  border: 1px solid #000000;
}
.index-header2 .indexright .info > ul > li:nth-of-type(4) .people-sel ul li {
  width: 160px;
  line-height: 40px;
  border-bottom: 1px solid #000000;
}
.index-header2 .indexright .info > ul > li:nth-of-type(4) .people-sel ul li:last-of-type {
  border: none;
}
.index-header2 .indexright .info > ul > li:nth-of-type(4) .people-sel ul li a {
  color: #999999;
  font-size: 14px;
}
.index-header2 .indexright .info > ul > li:nth-of-type(4).selected {
  border-color: #262626;
  background-color: #262626;
}
.index-header2 .indexright .info > ul > li:nth-of-type(4).selected .peo-copy {
  display: block;
}
.index-header2 .indexright .info > ul > li:nth-of-type(4).selected .people-sel {
  display: block;
}
@media (min-width: 1200px) {
  .index-header2 .indexleft ul {
    margin-left: 60px;
  }
  .index-header2 .indexright .searchinput {
    margin-right: 30px;
  }
}
.hr50 {
  height: 50px;
  overflow: hidden;
}
.footbottom {
  overflow: hidden;
  background-color: #232323;
  margin-top: 25px;
}
.footbottom .footnav {
  overflow: hidden;
  margin-top: 26px;
  padding-bottom: 26px;
  border-bottom: 1px solid #555555;
}
.footbottom .footnav dl {
  width: 18%;
  float: left;
}
.footbottom .footnav dl dt {
  color: #ffffff;
  font-size: 20px;
  line-height: 45px;
}
.footbottom .footnav dl dd {
  line-height: 27px;
}
.footbottom .footnav dl dd a {
  color: #999999;
  font-size: 14px;
}
.footbottom .footnav ul {
  float: right;
  width: 28%;
}
.footbottom .footnav ul li {
  margin-top: 12px;
}
.footbottom .footnav ul li i {
  margin-right: 15px;
}
.footbottom .footnav ul li h3 {
  font-size: 24px;
  color: #999999;
}
.footbottom .footnav ul li p {
  font-size: 14px;
  color: #999999;
}
.footbottom .footnav ul li p i {
  font-size: 20px;
  float: left;
  margin-top: 2px;
}
.footbottom .footnav ul li p a {
  color: #999999;
}
.footbottom .footnav ul li:first-of-type p {
  padding-left: 40px;
}
.footbottom .foota {
  text-align: center;
  margin-top: 30px;
}
.footbottom .foota a {
  font-size: 14px;
  margin: 0 15px;
  color: #999999;
}
.footbottom .foota a img {
  vertical-align: middle;
  margin-right: 10px;
}
.footbottom .copy {
  color: #999999;
  text-align: center;
  line-height: 60px;
  font-size: 14px;
}
.sidelan {
  width: 56px;
  position: fixed;
  top: 50%;
  right: 0;
  margin-top: -150px;
}
.sidelan li {
  width: 100%;
  margin-bottom: 2px;
  background-color: #dddddd;
  text-align: center;
  padding: 6px 0;
}
.sidelan li a {
  font-size: 12px;
  color: #999999;
}
.sidelan li a i {
  font-size: 34px;
}
.sidelan li:hover {
  background-color: #dd5555;
}
.sidelan li:hover a {
  color: #ffffff;
}
.sidelan li:last-of-type {
  padding: 12px 0;
}
.sidelan li:last-of-type a i {
  font-size: 26px;
}
body {
  background-color: #f4f4f4;
}
img {
  vertical-align: middle;
}
.content {
  box-sizing: border-box;
}
.bdtop {
  border-top: 2px solid #dddddd;
}
.open {
  cursor: pointer;
}
.open i {
  color: #666666;
  font-size: 16px;
}
.icon-up2:before {
  content: "\f063";
}
.icon-down2:before {
  content: "\f062";
}
.icon-down2-1:before {
  content: "\f062";
}
.icon-up2-2:before {
  content: "\f063";
}
.line {
  border-bottom: 2px solid #dddddd;
}
.blue {
  color: #4a718e;
}
.red {
  color: #dd5555;
  font-size: 22px;
}
.yfh {
  position: relative;
  cursor: pointer;
}
.yfh-ts {
  display: none;
  z-index: 999;
  width: 210px;
  height: 80px;
  border: 1px solid #d0d0d2;
  padding: 10px;
  background: #ffffff;
  position: absolute;
  right: 115px;
  top: -25px;
}
.yfh-ts i {
  position: absolute;
  right: -9px;
  top: 38px;
}
.yfh-ts p {
  line-height: 24px;
}
h5 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
  box-sizing: border-box;
}
.order-details {
  border: 1px solid #e2e2e2;
  padding: 14px 0px;
  margin-bottom: 35px;
  background: #ffffff;
}
.order-details .details-info {
  padding: 20px 30px;
  border-bottom: 2px solid #dddddd;
}
.order-details .details-info p {
  text-align: center;
  font-size: 18px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}
.order-details .details-info p img {
  margin: 0 7px 5px 0;
}
.order-details .details-info .fail {
  color: #dc5854;
}
.order-details .details-info span {
  font-size: 14px;
  color: #a8a8a8;
}
.order-details .payinfo {
  margin-bottom: 25px;
  *zoom: 1;
  zoom: 1;
}
.order-details .payinfo:after {
  content: " ";
  clear: both;
  display: table;
}
.order-details .payinfo li {
  width: 33.33%;
  float: left;
  color: #a3a3a3;
}
.order-details .payinfo li p span:first-child {
  text-align: right;
  display: inline-block;
}
.order-details .payinfo li p span:last-child {
  color: #333333;
}
.order-details section {
  max-width: 1140px;
  margin: 0 auto;
}
.content {
  zoom: 1;
}
.content h2 {
  font-size: 20px;
  color: #333333;
  margin: 15px 0 10px 0;
  line-height: 40px;
}
.content h2 a.over {
  float: right;
  color: #39bc48;
  font-size: 16px;
}
.content h2 a.qf {
  float: right;
  color: #bd5a5a;
  font-size: 14px;
}
.content section {
  border: 1px solid #e2e2e2;
  padding: 14px 0px;
  margin-bottom: 35px;
  background: #ffffff;
  *zoom: 1;
  zoom: 1;
}
.content section:after {
  content: " ";
  clear: both;
  display: table;
}
.content section .conTop {
  margin-bottom: 14px;
  padding-left: 40px;
  *zoom: 1;
  zoom: 1;
}
.content section .conTop:after {
  content: " ";
  clear: both;
  display: table;
}
.content section .conTop .kcmc {
  width: 57%!important;
}
.content section .conTop li {
  float: left;
  font-size: 16px;
  line-height: 20px;
  color: #666666;
  width: 9%;
}
.content section .conTop li .all-radio {
  width: 18px;
  display: block;
  height: 18px;
  margin-left: 20px;
  margin-right: 10px;
  border: 1px solid #999;
}
.content section .conTop li .all-radio i {
  display: none;
  font-size: 22px;
}
.content section .conTop li .selected {
  border-color: #5fc57d !important;
}
.content section .conTop li .selected i {
  color: #5fc57d;
  display: block;
}
.content section .conTop li:nth-of-type(1) {
  width: 58.5%;
  text-align: left;
}
.content section .conTop li:nth-of-type(2) {
  width: 13%;
  text-align: left;
}
.content section .conTop li:nth-of-type(4) {
  width: 8%;
}
.content section .allText {
  *zoom: 1;
  zoom: 1;
}
.content section .allText:after {
  content: " ";
  clear: both;
  display: table;
}
.content section .allText .imgText {
  border-top: 1px solid #ddd;
  padding: 20px 20px 0px 30px;
  *zoom: 1;
  zoom: 1;
}
.content section .allText .imgText:after {
  content: " ";
  clear: both;
  display: table;
}
.content section .allText .imgText .imgTop {
  *zoom: 1;
  zoom: 1;
  position: relative;
  margin-bottom: 15px;
}
.content section .allText .imgText .imgTop:after {
  content: " ";
  clear: both;
  display: table;
}
.content section .allText .imgText .imgTop li {
  float: left;
  width: 11%;
  padding: 1px;
}
.content section .allText .imgText .imgTop li.inputCheck {
  width: 5%;
  position: absolute;
}
.content section .allText .imgText .imgTop li.dlText {
  width: 58.5%;
  text-align: left;
  box-sizing: border-box;
}
.content section .allText .imgText .imgTop li:nth-of-type(3) {
  width: 12%;
}
.content section .allText .imgText .imgTop li:nth-of-type(4) {
  width: 5%;
}
.content section .allText .imgText .imgTop li .selected {
  border-color: #5fc57d !important;
}
.content section .allText .imgText .imgTop li .selected i {
  color: #5fc57d;
  display: block;
}
.content section .allText .imgText .imgTop li .red {
  color: #eb5a1c;
}
.content section .allText .imgText .imgTop li dl {
  padding-right: 15px;
}
.content section .allText .imgText .imgTop li dl dt {
  float: left;
}
.content section .allText .imgText .imgTop li dl dt img {
  width: 105px;
  height: 70px;
}
.content section .allText .imgText .imgTop li dl dd {
  margin-left: 10px;
  float: left;
}
.content section .allText .imgText .imgTop li dl dd h3 {
  font-size: 16px;
  color: #333333;
  line-height: 22px;
  width: 240px;
}
.content section .allText .imgText .imgTop li dl dd:last-child {
  color: #666666;
}
.content section .allText .imgText .detail {
  border: 1px solid #ddd;
  *zoom: 1;
  zoom: 1;
  margin-bottom: 15px;
}
.content section .allText .imgText .detail:after {
  content: " ";
  clear: both;
  display: table;
}
.content section .allText .imgText .detail .imgTop {
  margin-bottom: 0;
  padding: 10px 20px;
  margin: 0 auto;
}
.content section .allText .imgText .detail li {
  float: left;
  width: 125px;
  font-size: 14px;
  color: #444;
}
.content section .allText .imgText .detail li > p {
  font-size: 14px;
}
.content section .allText .imgText .detail li.dlText {
  margin-left: 0;
}
.content section .allText .imgText .detail li.inputCheck {
  position: absolute;
  border: none;
  left: -62px;
}
.content section .allText .imgText .detail li.inputCheck .check_radio {
  border: none;
}
.content section .allText .imgText .detail li:nth-of-type(4) {
  width: 5%;
}
.content section .allText .imgText .detail li:nth-of-type(5) {
  width: 10%;
  font-size: 14px;
  color: #444;
}
.content section .allText .imgText .detail li .check_radio {
  width: 18px;
  display: block;
  height: 18px;
  margin-left: 20px;
  margin-right: 10px;
  float: left;
  border: 1px solid #999;
}
.content section .allText .imgText .detail li .check_radio i {
  display: none;
  font-size: 22px;
}
.content section .allText .imgText .detail li .selected {
  border-color: #5fc57d !important;
}
.content section .allText .imgText .detail li .selected i {
  color: #5fc57d;
  display: block;
}
.content section .allText .imgText .detail li .red {
  color: #eb5a1c;
}
.content section .allText .imgText .detail li dl dt {
  float: left;
  width: 60px;
  height: 40px;
}
.content section .allText .imgText .detail li dl dt img {
  width: 60px;
  height: 40px;
  float: right;
}
.content section .allText .imgText .detail li dl dd {
  float: left;
  margin-left: 7px;
}
.content section .allText .imgText .detail li dl dd h3 {
  font-size: 14px;
  color: #444;
  line-height: 20px;
}
.content section .allText .imgText .detail li dl dd p {
  font-size: 14px;
  color: #444;
  margin: 5px 0 10px;
}
.content section .allText .imgText .detail li dl dd span {
  font-size: 14px;
  color: #444;
  line-height: 14px;
  float: left;
  padding: 0 15px;
  border-left: 1px solid #999;
}
.content section .allText .imgText .detail li dl dd span:nth-of-type(1) {
  padding-left: 0;
  border-left: none;
}
.content section .allText .imgText .detail-2 {
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-bottom: 0;
}
.content section .allText .imgText .detail-2 .zengp {
  margin: 0;
  border: none;
}
.content section .allText .imgText .zengp {
  border-top: 1px solid #dddddd;
  margin: 0 20px;
  height: 37px;
  line-height: 37px;
}
.content section .allText .imgText .zengp .nopadding {
  padding: 0;
}
.content section .allText .imgText h4 {
  color: #333333;
  font-size: 14px;
}
.content section .allText .textTwo .detail li.inputCheck .check_radio {
  border: 1px solid #999;
}
.content section .allText .textTwo .detail li.accounting {
  margin-left: 324px;
}
.content section .allText .textTree .detail .opa {
  opacity: .5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
}
.content section .allText .textTree .detail li.accounting {
  margin-left: 324px;
}
.content section .allText .textTree .detail li.inputCheck .check_radio {
  border: 1px solid #999;
}
.content section .allText .textTree .detail .opa li.inputCheck .check_radio {
  border: none !important;
}
.content section .allText .textTree .detail li.will {
  margin-left: 445px;
}
.addinfo {
  margin-bottom: 14px;
  padding: 0 30px;
}
.addinfo ul.address {
  margin-bottom: 25px;
  /* li:hover{
      border: 1px solid #e8c9c6;
      background: #fcf3f4;
      .set{
        display: inline-block;
      }
    } */
}
.addinfo ul.address li {
  border: 1px solid #ffffff;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  display: none;
  margin-bottom: 5px;
}
.addinfo ul.address li span {
  margin-right: 60px;
  font-size: 16px;
  color: #666666;
}
.addinfo ul.address li span:last-child {
  margin-right: 0;
}
.addinfo ul.address li .email {
  color: #377ba8;
}
.addinfo ul.address li .set {
  display: none;
  margin-right: 0;
}
.addinfo ul.address li .set a {
  color: #447fb7;
}
.addinfo ul.address .add-active {
  display: block;
}
.addinfo .cont {
  *zoom: 1;
  zoom: 1;
}
.addinfo .cont:after {
  content: " ";
  clear: both;
  display: table;
}
.addinfo .cont p {
  *zoom: 1;
  zoom: 1;
  margin-bottom: 20px;
}
.addinfo .cont p:after {
  content: " ";
  clear: both;
  display: table;
}
.addinfo .cont p a {
  height: 44px;
  line-height: 44px;
  float: left;
  width: 33%;
  /*         b{
      width: 15px;
      height: 15px;
      display: block;
      border-radius: 50%;
      border: 1px solid #9c9b9c;
      background-color: #eeeeee;
      margin-top: 14px;
      margin-right: 5px;
      float: left;
    } */
}
.addinfo .cont p a span {
  color: #999999;
}
.addinfo .cont p .selected b {
  background-color: #eaa39e;
  border-color: #d35756;
}
.addinfo .cont .explain {
  *zoom: 1;
  zoom: 1;
  margin-bottom: 25px;
}
.addinfo .cont .explain:after {
  content: " ";
  clear: both;
  display: table;
}
.addinfo .cont .explain span {
  display: inline-block;
  float: left;
}
.addinfo .cont .explain .fpsm {
  float: left;
  display: inline-block;
}
.js-bottom p {
  text-align: right;
  margin-bottom: 5px;
}
.js-bottom p span {
  width: 100px;
  margin-right: 40px;
  margin-bottom: 5px;
  display: inline-block;
}
.js-bottom ul {
  max-width: 1200px;
  *zoom: 1;
  zoom: 1;
  margin: 0 auto;
}
.js-bottom ul:after {
  content: " ";
  clear: both;
  display: table;
}
.js-bottom ul li {
  float: left;
}
.js-bottom ul li .jcwx {
  color: #48759f;
}
.js-bottom ul li .all-radio {
  width: 18px;
  display: block;
  height: 18px;
  margin-left: 20px;
  margin-right: 10px;
  float: left;
  border: 1px solid #999;
}
.js-bottom ul li .all-radio i {
  display: none;
  font-size: 22px;
}
.js-bottom ul li .selected {
  border-color: #5fc57d !important;
}
.js-bottom ul li .selected i {
  color: #5fc57d;
  display: block;
}
.js-bottom ul li button {
  background: #dd5555;
  height: 50px;
  width: 130px;
  font-size: 18px;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  display: block;
  border: none;
  padding: 13px 32px;
  border-radius: 5px;
}
.js-bottom ul li:nth-last-of-type(1) {
  float: right;
  margin-right: 30px;
}
.content .bottShop {
  position: inherit;
  margin-bottom: 15px;
}
.yhq {
  padding-left: 45px;
}
.yhq p {
  font-size: 16px;
}
.yhq p span {
  color: #dd5555;
}
.yhq ul {
  margin: 15px 0;
  *zoom: 1;
  zoom: 1;
}
.yhq ul:after {
  content: " ";
  clear: both;
  display: table;
}
.yhq ul li {
  cursor: pointer;
  float: left;
  margin-right: 20px;
}
