/* LESS Document */
* {
  margin: 0;
  padding: 0;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
audio,
canvas,
video {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
  visibility: hidden;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
code,
kbd,
pre,
samp {
  font-family: monospace,serif;
  font-size: 1em;
}
del {
  font-family: Arial;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
  font-weight: normal;
}
em,
q,
cite,
address {
  font-weight: normal;
  font-style: normal;
}
address {
  display: inline;
}
big,
small {
  font-size: 12px;
}
body {
  font: 14px/1.5 Microsoft Yahei, "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
  vertical-align: middle;
  color: #333;
  background: #fff;
}
img {
  border: 0;
}
li {
  list-style: none;
}
i {
  font-style: normal;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
}
strong {
  font-weight: bold;
}
del {
  font-family: Simsun;
}
dfn {
  padding-right: 2px;
  text-decoration: none;
  font-family: Arial;
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  text-align: left;
  font-weight: normal;
}
fieldset,
legend {
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button,
input,
select,
select optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
  vertical-align: middle;
}
button,
input,
select[multiple],
textarea {
  background-image: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/* link */
a {
  color: #4d4d4d;
  text-decoration: none;
  outline-style: none;
  cursor: pointer;
}
a:hover {
  color: #06c;
  text-decoration: underline;
  transition: color .20s linear;
  -o-transition: color .20s linear;
  -webkit-transition: color .20s linear;
  -moz-transition: color .20s linear;
}
a:link {
  text-decoration: none;
  cursor: pointer;
}
i {
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*---------- 实用工具 ----------*/
/* form */
input,
select {
  vertical-align: middle;
  font-size: 14px;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
  color: #333;
  outline: none;
}
input[type="text"]:disabled {
  background-color: #bbbbbb;
  color: #666;
}
input[type="checkbox"],
input[type="radio"] {
  margin-right: 4px;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background-color: #33b0c4;
  color: #fff;
}
/* input placeholder color */
input::-webkit-input-placeholder {
  color: #bbbbbb;
  text-transform: uppercase;
}
input::-moz-placeholder {
  color: #bbbbbb;
  text-transform: uppercase;
}
input:-moz-placeholder {
  /* Older versions of Firefox */
  color: #bbbbbb;
  text-transform: uppercase;
}
input:-ms-input-placeholder {
  color: #bbbbbb;
  text-transform: uppercase;
}
/* 清除浮动 */
/* 圆角 */
/* link in text */
a.t {
  text-decoration: underline;
}
a.t:hover {
  color: #f30;
  text-decoration: underline;
}
/* clear float */
.cf {
  zoom: 1;
}
/* for IE */
.cf:after {
  content: ".";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
/* for other */
/* end of clear float */
/* float */
.left {
  float: left;
}
.right {
  float: right;
}
.fnone {
  float: none;
}
.middle {
  float: left;
}
/* text-align */
.tleft {
  text-align: left;
}
.tright {
  text-align: right;
}
.tcenter {
  text-align: center;
}
/* display */
.dis {
  display: block;
}
.undis {
  display: none;
}
/*常用字号*/
/*常用颜色*/
/* 圆角  */
/*边框圆角*/
.sanjiao {
  border-width: 20px;
  border-color: transparent transparent #ccc transparent;
  border-style: dashed dashed solid dashed;
  width: 0;
  height: 0;
  overflow: hidden;
}
/* clicked color */
.clcikActive {
  color: #fff;
  background: #33b0c4;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
/*单行载断*/
/*单行载断溢出省略号*/
/*3行载断溢出省略号*/
/* 面包屑 */
.crumb {
  display: none;
}
@media (min-width: 768px) {
  .crumb {
    display: block;
    *zoom: 1;
    zoom: 1;
    line-height: 50px;
  }
  .crumb:after {
    content: " ";
    clear: both;
    display: table;
  }
  .crumb p {
    color: #999;
  }
  .crumb p a {
    padding: 0 10px;
  }
  .crumb p span {
    padding-left: 10px;
  }
}
/*配模式定位*/
/*1200屏*/
/* 背景自适应 */
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?-ivr5ln');
  src: url('fonts/icomoon.eot?#iefix-ivr5ln') format('embedded-opentype'), url('fonts/icomoon.ttf?-ivr5ln') format('truetype'), url('fonts/icomoon.woff?-ivr5ln') format('woff'), url('fonts/icomoon.svg?-ivr5ln#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?kabozi');
  src: url('fonts/icomoon.eot?#iefixkabozi') format('embedded-opentype'), url('fonts/icomoon.woff?kabozi') format('woff'), url('fonts/icomoon.ttf?kabozi') format('truestype'), url('fonts/icomoon.svg?kabozi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"],
i {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrap {
  max-width: 1200px;
  margin: 0 auto;
  min-width: 1024px;
}
.index-header2 {
  position: fixed;
  left: 0px;
  top: 0px;
  min-width: 1024px;
  width: 100%;
  background-color: #000;
  *zoom: 1;
  zoom: 1;
  height: 50px;
  z-index: 99;
}
.index-header2:after {
  content: " ";
  clear: both;
  display: table;
}
.index-header2 .indexleft {
  width: 50%;
  float: left;
}
.index-header2 .indexleft .logo {
  float: left;
  margin-top: 10px;
}
.index-header2 .indexleft ul {
  float: left;
  margin-left: 20px;
}
.index-header2 .indexleft ul li {
  float: left;
  width: 70px;
  line-height: 50px;
  text-align: center;
}
.index-header2 .indexleft ul li a {
  color: #999;
}
.index-header2 .indexright {
  width: 50%;
  float: right;
}
.index-header2 .indexright .searchinput {
  margin-top: 10px;
  float: right;
  height: 30px;
  width: 224px;
  position: relative;
  margin-right: 21px;
}
.index-header2 .indexright .searchinput input {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  border: 1px solid #71787d;
  padding-right: 50px;
  padding-left: 10px;
  box-sizing: border-box;
  background-color: transparent;
  color: #fff;
}
.index-header2 .indexright .searchinput a {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  top: 0;
}
.index-header2 .indexright .searchinput a i {
  font-size: 19px;
  color: #71787d;
}
.index-header2 .indexright .info {
  float: right;
}
.index-header2 .indexright .info > ul > li {
  cursor: pointer;
  text-align: center;
  width: 50px;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  font-size: 21px;
  vertical-align: middle;
  position: relative;
}
.index-header2 .indexright .info > ul > li .peo-copy {
  display: none;
  width: 100%;
  height: 4px;
  bottom: -2px;
  background-color: #262626;
  position: absolute;
  z-index: 100;
}
.index-header2 .indexright .info > ul > li:nth-of-type(3) i {
  font-size: 30px;
  display: block;
  float: left;
  margin-top: 16px;
  margin-left: 10px;
}
.index-header2 .indexright .info > ul > li i {
  color: #71787d;
}
.index-header2 .indexright .info > ul > li.phone {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.index-header2 .indexright .info > ul > li.phone .people-sel {
  display: none;
  position: absolute;
  top: 50px;
  right: -1px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #262626;
  z-index: 99;
  border: 1px solid #000;
}
.index-header2 .indexright .info > ul > li.phone .people-sel ul li {
  width: 160px;
  line-height: 40px;
  border-bottom: 1px solid #000;
}
.index-header2 .indexright .info > ul > li.phone .people-sel ul li a {
  color: #999;
  font-size: 14px;
}
.index-header2 .indexright .info > ul > li.phone.selected {
  border-color: #262626;
  background-color: #262626;
}
.index-header2 .indexright .info > ul > li.phone.selected .peo-copy {
  display: block;
}
.index-header2 .indexright .info > ul > li.phone.selected .people-sel {
  display: block;
}
.index-header2 .indexright .info > ul > li.phone i:last-of-type,
.index-header2 .indexright .info > ul > li.people i:last-of-type {
  font-size: 22px;
  margin: 0 3px;
}
.index-header2 .indexright .info > ul > li:nth-of-type(2) span,
.index-header2 .indexright .info > ul > li:nth-of-type(3) span {
  font-size: 12px;
  display: block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  background-color: #dd5555;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  top: 16px;
}
.index-header2 .indexright .info > ul > li:nth-of-type(2) span i {
  vertical-align: middle;
  color: #fff;
}
.index-header2 .indexright .info > ul > li:nth-of-type(4) {
  margin-left: 20px;
  width: 80px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.index-header2 .indexright .info > ul > li:nth-of-type(4) .people-sel {
  display: none;
  position: absolute;
  top: 50px;
  right: -1px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #262626;
  z-index: 99;
  border: 1px solid #000;
}
.index-header2 .indexright .info > ul > li:nth-of-type(4) .people-sel ul li {
  width: 160px;
  line-height: 40px;
  border-bottom: 1px solid #000;
}
.index-header2 .indexright .info > ul > li:nth-of-type(4) .people-sel ul li:last-of-type {
  border: none;
}
.index-header2 .indexright .info > ul > li:nth-of-type(4) .people-sel ul li a {
  color: #999;
  font-size: 14px;
}
.index-header2 .indexright .info > ul > li:nth-of-type(4).selected {
  border-color: #262626;
  background-color: #262626;
}
.index-header2 .indexright .info > ul > li:nth-of-type(4).selected .peo-copy {
  display: block;
}
.index-header2 .indexright .info > ul > li:nth-of-type(4).selected .people-sel {
  display: block;
}
@media (min-width: 1200px) {
  .index-header2 .indexleft ul {
    margin-left: 60px;
  }
  .index-header2 .indexright .searchinput {
    margin-right: 30px;
  }
}
.hr50 {
  height: 50px;
  overflow: hidden;
}
.detailstop {
  background: url("../images/listbg.png") no-repeat center center;
  background-size: cover;
}
.detailstop .crumbs {
  line-height: 50px;
}
.detailstop .crumbs a {
  color: #666;
  margin: 0 3px;
}
.detailstop .details {
  overflow: hidden;
}
.detailstop .details .detailsleft {
  float: left;
  width: 40%;
}
.detailstop .details .detailsleft p {
  line-height: 30px;
  margin-bottom: 30px;
  font-size: 14px;
}
.detailstop .details .detailsleft p a {
  color: #999;
  margin-right: 30px;
}
.detailstop .details .detailsleft p a i {
  font-size: 16px;
  margin-right: 3px;
}
.detailstop .details .detailscontent {
  float: right;
  width: 50%;
}
.detailstop .details .detailscontent > h3 {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.detailstop .details .detailscontent > p {
  font-size: 14px;
  line-height: 42px;
  color: #999;
}
.detailstop .details .detailscontent > p span {
  color: #dd5555;
}
.detailstop .details .detailscontent .details_word {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  background-color: #fffdf9;
}
.detailstop .details .detailscontent .details_word h3 {
  font-size: 30px;
  color: #eb5a1c;
}
.detailstop .details .detailscontent .details_word h3 del {
  font-size: 16px;
  color: #999;
  margin: 0 5px;
}
.detailstop .details .detailscontent .details_word h3 span {
  font-size: 14px;
  color: #fff;
  background-color: #eb5a1c;
  margin: 0 5px;
  padding: 0 6px;
}
.detailstop .details .detailscontent .details_word dl {
  margin-top: 10px;
}
.detailstop .details .detailscontent .details_word dl dt {
  float: left;
  color: #999;
  line-height: 30px;
}
.detailstop .details .detailscontent .details_word dl dd {
  position: relative;
  padding-left: 76px;
}
.detailstop .details .detailscontent .details_word dl dd.kai .yt .yt1 {
  display: none;
}
.detailstop .details .detailscontent .details_word dl dd.kai .yt .yt2 {
  display: inline;
}
.detailstop .details .detailscontent .details_word dl dd.kai ul li {
  display: block;
}
.detailstop .details .detailscontent .details_word dl dd .yt {
  color: #666;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.detailstop .details .detailscontent .details_word dl dd .yt i {
  margin-left: 3px;
}
.detailstop .details .detailscontent .details_word dl dd .yt .yt2 {
  display: none;
}
.detailstop .details .detailscontent .details_word dl dd ul li {
  line-height: 30px;
  cursor: pointer;
  color: #dd5555;
  display: none;
}
.detailstop .details .detailscontent .details_word dl dd ul li p {
  padding-right: 60px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.detailstop .details .detailscontent .details_word dl dd ul li span {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-right: 3px;
  border-radius: 3px;
  color: #fff;
  background-color: #dd5555;
}
.detailstop .details .detailscontent .details_word dl dd ul li:first-of-type {
  display: block;
}
.detailstop .details .detailscontent .service {
  margin-bottom: 50px;
}
.detailstop .details .detailscontent .service dl {
  margin: 10px 0;
}
.detailstop .details .detailscontent .service dl dt {
  float: left;
  line-height: 30px;
  color: #999;
  margin-right: 10px;
}
.detailstop .details .detailscontent .service dl dd {
  padding-left: 66px;
}
.detailstop .details .detailscontent .service dl dd a {
  line-height: 30px;
  padding: 0 15px;
  background-color: #e6e4e5;
  margin: 3px;
  display: inline-block;
  position: relative;
}
.detailstop .details .detailscontent .service dl dd a i {
  color: #3fb54d;
  position: absolute;
  bottom: -6px;
  right: -6px;
  display: none;
  font-size: 30px;
}
.detailstop .details .detailscontent .service dl dd a.selected i {
  display: block;
}
.detailstop .details .detailscontent .service dl.seltao dd a {
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  box-sizing: border-box;
}
.detailstop .details .detailscontent .service dl.seltao dd a:hover {
  border-color: #3fb54d;
}
.detailstop .details .detailscontent .service dl.seltao dd a:hover span {
  display: inline-block;
}
.detailstop .details .detailscontent .service dl.seltao dd a span {
  display: none;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: -3px;
  left: 0;
  z-index: 99;
}
.detailstop .details .detailscontent .service dl.seltao dd .seltaoc {
  position: relative;
}
.detailstop .details .detailscontent .service dl.seltao dd .seltaoc .seldiv {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  top: 0;
  left: 0;
  padding: 10px 18px;
  width: 100%;
  box-sizing: border-box;
}
.detailstop .details .detailscontent .service dl.seltao dd .seltaoc .seldiv p {
  color: #666;
  line-height: 25px;
}
.detailstop .details .detailscontent .service dl.seltao dd .seltaoc .seldiv .img {
  float: left;
  margin-right: 10px;
}
.detailstop .details .detailscontent .service dl.seltao dd .seltaoc .seldiv .img img {
  width: 60px;
  height: 40px;
}
.detailstop .details .detailscontent .service p button {
  width: 120px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #dd5555;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  outline: none;
  color: #dd5555;
  background-color: #fff;
}
.detailstop .details .detailscontent .service p button.def {
  background-color: #dd5555;
  color: #fff;
  margin-right: 10px;
}
.detailstop .details .detailscontent .service p button:hover {
  background-color: #dd5555;
  color: #fff;
}
.detailsnav {
  height: 55px;
}
.detailsnav ul {
  float: left;
}
.detailsnav ul li {
  float: left;
  width: 150px;
  text-align: center;
}
.detailsnav ul li a {
  font-size: 16px;
  line-height: 55px;
  color: #666;
  display: block;
  position: relative;
}
.detailsnav ul li a span {
  line-height: 20px;
  border-radius: 10px;
  background-color: #31a43f;
  color: #fff;
  padding: 0 5px;
  position: absolute;
  right: 12px;
  top: 10px;
}
.detailsnav ul li.selected a {
  color: #fff;
  background-color: #31a43f;
}
.detailsnav ul li.selected a span {
  background-color: #fff;
  color: #31a43f;
}
.detailsnav .detailfixed {
  *zoom: 1;
  zoom: 1;
  width: 100%;
  height: 55px;
  box-shadow: 0 3px 3px #ddd;
  z-index: 99;
  background-color: #f5f5f5;
}
.detailsnav .detailfixed:after {
  content: " ";
  clear: both;
  display: table;
}
.detailsnav .detailfixed .cart {
  display: none;
  float: right;
}
.detailsnav .detailfixed .cart span {
  font-size: 30px;
  color: #dd5555;
  line-height: 50px;
  margin-right: 20px;
}
.detailsnav .detailfixed .cart button {
  outline: none;
  float: right;
  width: 145px;
  height: 40px;
  border: 1px solid #dd5555;
  color: #dd5555;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  margin: 0 10px;
  vertical-align: middle;
  background-color: #fff;
  margin-top: 7px;
}
.detailsnav .detailfixed .cart button.red,
.detailsnav .detailfixed .cart button:hover {
  background-color: #dd5555;
  color: #fff;
}
.detailsnav .detailfixed.defixed {
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 90;
}
.detailsnav .detailfixed.defixed .cart {
  display: block;
}
.detailsbottom {
  margin-top: 30px;
}
.detailsbottom .bottomleft {
  background-color: #fff;
  width: 65%;
  float: left;
  position: relative;
}
.detailsbottom .bottomleft > h3 {
  height: 30px;
  line-height: 30px;
  background-color: #f6f8f9;
  color: #999;
  padding-left: 15px;
}
.detailsbottom .bottomleft .bottomul dl {
  margin: 20px 0;
}
.detailsbottom .bottomleft .bottomul dl dt {
  width: 100px;
  float: left;
}
.detailsbottom .bottomleft .bottomul dl dt .img {
  margin: 10px auto;
  width: 60px;
  height: 60px;
  position: relative;
}
.detailsbottom .bottomleft .bottomul dl dt .img span {
  position: absolute;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  border-radius: 5px;
  background-color: #999;
  color: #fff;
  top: 10px;
  right: -10px;
}
.detailsbottom .bottomleft .bottomul dl dd {
  padding-left: 100px;
}
.detailsbottom .bottomleft .bottomul dl dd .peoinfo {
  line-height: 40px;
  overflow: hidden;
}
.detailsbottom .bottomleft .bottomul dl dd .peoinfo img {
  vertical-align: middle;
  margin-right: 5px;
}
.detailsbottom .bottomleft .bottomul dl dd .peoinfo .peoinfoleft {
  float: left;
  color: #999;
}
.detailsbottom .bottomleft .bottomul dl dd .peoinfo .peoinfoleft a {
  color: #4c87c4;
  margin-left: 20px;
}
.detailsbottom .bottomleft .bottomul dl dd .peoinfo .date {
  float: right;
  color: #999;
}
.detailsbottom .bottomleft .bottomul dl dd .people_word p,
.detailsbottom .bottomleft .bottomul dl dd .replyinfo p {
  line-height: 25px;
  color: #666;
}
.detailsbottom .bottomleft .bottomul dl dd .replyinfo {
  margin-top: 5px;
  border: 1px solid #ddd;
  padding: 10px;
}
.detailsbottom .bottomleft .bottomul .jiazhai {
  display: block;
  width: 60px;
  height: 20px;
  line-height: 20px;
  background-color: #eee;
  border: 1px solid #ddd;
  text-align: center;
  margin: 40px auto;
}
.detailsbottom .bottomleft .bottomul .jiazhai i {
  color: #666;
}
.detailsbottom .bottomleft .sub_info textarea {
  width: 100%;
  height: 100px;
  resize: none;
  border: 1px solid #ddd;
  padding: 10px;
  box-sizing: border-box;
}
.detailsbottom .bottomleft .sub_info p {
  margin-top: 14px;
  margin-bottom: 60px;
  color: #999;
}
.detailsbottom .bottomleft .sub_info p button {
  height: 30px;
  width: 60px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #dd5555;
  float: right;
}
.detailsbottom .bottomleft .zixun {
  position: absolute;
  left: -50px;
  top: 0;
  width: 45px;
  height: 113px;
  background: url("../images/z.png") no-repeat center center;
  color: #fff;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  line-height: 22px;
  padding-top: 12px;
  box-sizing: border-box;
}
.detailsbottom .bottomright {
  width: 25%;
  float: right;
}
.detailsbottom .bottomright .aboutcourse {
  background-color: #f6f8f9;
}
.detailsbottom .bottomright .aboutcourse > h3 {
  font-size: 16px;
  line-height: 50px;
  border-bottom: 1px solid #ddd;
  padding: 0 16px;
}
.detailsbottom .bottomright .aboutcourse ul {
  overflow: hidden;
}
.detailsbottom .bottomright .aboutcourse ul li {
  *zoom: 1;
  zoom: 1;
  padding: 0 20px;
  margin: 15px 0;
}
.detailsbottom .bottomright .aboutcourse ul li:after {
  content: " ";
  clear: both;
  display: table;
}
.detailsbottom .bottomright .aboutcourse ul li .img {
  float: left;
  margin-right: 12px;
}
.detailsbottom .bottomright .aboutcourse ul li .img img {
  width: 90px;
  height: 60px;
}
.detailsbottom .bottomright .aboutcourse ul li h3 {
  font-size: 14px;
  color: #666;
}
.detailsbottom .bottomright .aboutcourse ul li p {
  color: #f26a2f;
}
.detailsbottom .bottomright .onlinepeople {
  *zoom: 1;
  zoom: 1;
  margin-top: 25px;
  background-color: #f6f8f9;
}
.detailsbottom .bottomright .onlinepeople:after {
  content: " ";
  clear: both;
  display: table;
}
.detailsbottom .bottomright .onlinepeople > h3 {
  font-size: 16px;
  line-height: 50px;
  border-bottom: 1px solid #ddd;
  padding: 0 16px;
}
.detailsbottom .bottomright .onlinepeople ul {
  margin: 10px 0;
}
.detailsbottom .bottomright .onlinepeople ul li {
  margin: 10px 0;
  width: 25%;
  float: left;
  text-align: center;
  cursor: pointer;
}
.detailsbottom .bottomright .onlinepeople ul li img {
  width: 46px;
  height: 46px;
}
