@import "../../css/commoncss/common.less";
@import "common.less";

body {
  background-color: #f4f4f4;
}
//�����˵�

.indexwrap {
    max-width: 1200px;
    min-width: 1024px;
    margin: 0px auto 50px;
    zoom: 1;
    .cf();
    .indexleft{
      width: 73.333%;
      float: left;
      background: #fff;
       .backSee{
         display: none;
         padding: 20px 35px 40px 40px;
         dl{
           padding:20px 0;
           display: table;
           width: 100%;
           border-bottom: 1px solid #ddd;
           position: relative;
           &:nth-last-of-type(1){
             border: none;
           }
           dt{
             float: left;

             img{
               width: 142px;
               height: 80px;
             }
           }
           dd{
             padding-left: 160px;
             h3{
               color: @c3;
               font-size: 14px;
               margin-bottom: 6px;
             }
             p{
               color: @c9;
               font-size: 14px;
             }
             i{
               position: absolute;
               top: 50%;
               right: 5px;
               color: #39b747;
               transform: translateY(-50%);
               -webkit-transform: translateY(-50%);
               -o-transform: translateY(-50%);
               -moz-transform: translateY(-50%);
               -ms-transform: translateY(-50%);
             }
           }
         }
       }
       .test{
         display: none;
       }
       .note {
         position: relative;
         border: 1px solid #ddd;
         border-top-color: #fff;
         padding: 30px 40px;
         display: none;
         .cd-container{
           position: relative;
            margin-top: 2em;
            // margin-bottom: 2em;
             &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 8px;
                height: 100%;
                width: 3px;
                background: #b2a698;
             }
             .cd-timeline-block {
                position: relative;
                margin: 2em 0;
                margin-top: 0;
                &:nth-last-of-type(1){
                  margin-bottom: 0;
                }
                &::before{
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 4px;
                  height: 100%;
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  display: inline-block;
                  background: #b2a698;
                }
                .cd-timeline-img{
                  padding: 0 20px;
                  p{
                    color: @c6;
                    font-size: 14px;
                  }
                }
                .cd-timeline-content{
                  position: relative;
                 margin-left: 45px;
                 margin-top: 25px;
                 background: #f9fafc;
                 padding: 15px 30px;
                  border: 1px solid #ddd;
                   &::before{
                     content: "";
                    position: absolute;
                    width: 13px;
                    height: 13px;
                    left: -11px;
                    display: inline-block;
                    background: url(../../images/study/bc_03.jpg)no-repeat;
                   }
                   dl{
                     width: 100%;
                     dt{
                       float: left;
                       width: 52px;
                       img{
                         width: 51px;
                         height: 51px;
                         border-radius: 50%;
                         overflow: hidden;
                       }
                       p{
                         color: @c3;
                         font-size: 14px;
                         text-align: center;
                       }
                     }
                     dd{
                       padding-left: 85px;
                       position: relative;
                       label{
                         font-size: 18px;
                         color: #dd5555;
                       }
                       p{
                         font-size: 14px;
                         color: @c3;
                         line-height: 25px;
                       }
                       a{
                         position: absolute;
                         right: -35px;
                         top: 50%;
                         width: 100px;
                         height: 30px;
                         line-height: 30px;
                         border: 1px solid #2679bd;
                         color: #2679bd;
                         text-align: center;
                         transform: translateX(-50%);
                         -ms-transform: translateX(-50%);
                         -moz-transform: translateX(-50%);
                         -webkit-transform: translateX(-50%);
                         -o-transform: translateX(-50%);
                       }
                     }
                   }
                }
            }
         }
         .end{
           .cf();
           height: 45px;
          padding-left: 27px;
          //  background: url(../../images/study/d_07.jpg)no-repeat 7px top;
             a{
               padding-top: 15px;
               display: block;
               color: #2679bd;
               font-size: 14px;
             }
         }
         .done{
           display: none;
           .end{
             background: none;
             padding-left: 0;
           }
         }
         .done-container{

             .cd-timeline-img{
              margin-top: 13px;
               p{
                 color: @c6;
                 font-size: 14px;
               }
             }
             .cd-timeline-content{
               position: relative;
                margin-top: 10px;
                padding: 15px 30px;
                // background: #f9fafc;
                border: 1px solid #fff;
                  &:hover{
                      background: #f9fafc;
                      border: 1px solid #ddd;
                  }
                dl{
                  width: 100%;
                  dt{
                    float: left;
                    width: 52px;
                    img{
                      width: 51px;
                      height: 51px;
                      border-radius: 50%;
                      overflow: hidden;
                    }
                    p{
                      color: @c3;
                      font-size: 14px;
                      text-align: center;
                    }
                  }
                  dd{
                    padding-left: 85px;
                    position: relative;
                    label{
                      font-size: 18px;
                      color: #dd5555;
                      .green{
                        color: #39b847;
                        font-size: 14px;
                        padding-left: 10px;
                      }
                      .red{
                        color: #df5555;
                        font-size: 14px;
                        padding-left: 10px;
                      }
                    }
                    p{
                      font-size: 14px;
                      color: @c3;
                      line-height: 25px;
                    }
                    a{
                      position: absolute;
                      right: -35px;
                      top: 50%;
                      width: 100px;
                      height: 30px;
                      line-height: 30px;
                      border: 1px solid #2679bd;
                      color: #2679bd;
                      text-align: center;
                      transform: translateX(-50%);
                      -ms-transform: translateX(-50%);
                      -moz-transform: translateX(-50%);
                      -webkit-transform: translateX(-50%);
                      -o-transform: translateX(-50%);
                    }
                  }
                }
             }
         }
       }


    }
    .indexright{
      float: right;
      width: 25%;
      background: #fbfbfb;
      .ratio{
        margin: 10px;
        padding: 20px 0;
        background:#f4f5f7;
         h4{
           font-size: 14px;
           color: @c9;
           text-align: center;
           label{
             font-size: 40px;
             font-weight: bold;
             color: #dc5655;
           }
         }
         p{
           text-align: center;
           font-size: 14px;
           color: @c6;
         }
      }
      .note,.question{
        margin: 0 18px;
        background: #fbfbfb;
        padding-bottom: 35px;
        .cf();
        >img{
          max-width: 32%;
          height: 57px;
        }
         h3{
           font-size: 16px;
           color: @c9;
           margin: 20px 0 13px;
           line-height: 16px;
           border-left: 3px solid #dd5555;
           text-indent: 10px;
         }
         dl{
           margin-bottom: 13px;
           .cf();
         }
         dt{
           float: left;
           width: 100px;
           height: 65px;
           img{
                 margin-top: 5px;
             width: 100%;
             height: 100%;
           }
         }
         dd{
           padding-left: 110px;
           p{
             font-size: 14px;
             line-height: 23px;
             color: @c3;
             max-height: 65px;
             .spill3();
           }
         }
         h4{
           color: #2679bd;
           font-size: 14px;
           border-bottom: 1px solid #ddd;
               padding-bottom: 15px;
           label{
             float: right;
             color: @c9;
           }
         }
         >p{
           font-size: 14px;
           color: @c3;
           padding: 10px 0;
           line-height: 25px;
           .spill3();
         }
         a{
           float: right;
           font-size: 14px;
           color: @c6;
           padding-top: 12px;
         }
      }
      .question{
          padding-bottom: 15px;
         h3{
           margin: 0;
         }
      }
      .learn{
        margin: 0 18px;
        background: #fbfbfb;
        padding-bottom: 35px;
        zoom: 1;
         p{
           font-size: 16px;
           color: @c6;
         }
         ul{
           .cf();
            li{
              float: left;
              width: 25%;
              a{
                padding: 10px;
               display: block;
               img{
                 width: 45px;
                height: 45px;
                border-radius: 50%;
                overflow: hidden;
               }
              }
            }
         }
      }
    }
}
.themeTitle{
   h2{
     font-size: 24px;
     color: @c3;
     font-weight: bold;
     position: relative;
     a{
       width: 80px;
       height: 38px;
       line-height: 38px;
       font-weight: normal;
       font-size: 17px;
       position: absolute;
      right: -40px;
      top: 0;
      text-indent: 13px;
       text-align: center;
       color: #fff;
       background: red;
       display: block;
       background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #ff9028 0, #ffa500 100%, #ffac0d 55%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, #ff9028, #ffac0d);
    background-image: radial-gradient(45px 45px 45deg, circle cover, #ff9028 0, #ffa500 100%, #ffac0d 55%);
       &::before{
         content: "";
         position: absolute;
         border-width: 20px;
         width: 0;
         height: 0;
         border-bottom: 18px solid transparent;
         border-top: 19px solid transparent;
         border-left: 17px solid #fff;
         font-size: 0;
         line-height: 0;
         left: 0;
       }
     }
   }
   p{
     font-size: 14px;
     color: #999;
   }
   ul{
     .cf();
     margin-bottom: 20px;
      li{
        float: left;
        width: 75px;
        color: @c3;
        font-size: 16px;
        margin-top: 35px;
        i{
          color: #a5a5a5;
        }
        &.selected{
           color: #dd5555;
           i{
             color: #dd5555;
           }
        }
      }
   }
}
.themecon{
  background: #f4f5f9;
  border-top: 1px solid #dddddd;
  .cf();
  ul{
    .cf();
    padding: 20px 0;
    float: left;
  }
  >i{
    float: right;
    font-size: 20px;
      margin: 18px 15px 10px 0;
  }
  .addNote{
    width: 100px;
    height: 30px;
    float: right;
    cursor: pointer;
    margin: 13px 15px 10px 0;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: @c6;
  }
  .searchinput {
    float: right;
    position: relative;
    height: 30px;
    width: 224px;
    margin: 13px 15px 10px;
     input{
       width: 100%;
      height: 100%;
      border: none;
      padding-left: 10px;
      background-color: #fff;
      border: 1px solid #ddd;
      padding-right: 50px;
      box-sizing: border-box;
     }
     a {
        position: absolute;
        right: 0;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        top: 0;
        i{
          color: #acacac;
        }
    }
  }
  li{
    float: left;
    font-size: 12px;
    color: @c9;
    margin-left: 20px;
    cursor: pointer;
    &.selected{
      color: @c6;
    }
  }
}
.mythei,.myAnswer{
  display: none;
}
textarea{
  padding:20px;
  height: 80px;
  width: 94.5%;
  resize: none;
  margin-top: 3px;
  background: #f4f5f9;
  border: none;
}
.itmli {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding-top: 25px;
  padding-left: 13px;
  border-bottom: 1px solid #ddd;
  &:nth-last-of-type(1){
    // margin-bottom: 78px;
  }
  &:nth-of-type(1){
     &:hover{
       border: 1px solid #ddd;
     }
  }
  &:hover{
    background: #f9fafc;
    border: 1px solid #ddd;
    border-top: none;
    dd{
      .close{
        display: block;
        color: #999;
      }
    }
  }
  dt {
    padding: 0;
     background-color: #fff;
     border: none;
     float: left;
     margin-bottom: 0px;
      .cf();
    img {
     //  margin-left: 10px;
      width: 25px;
      height: 25px;
      display: block;
      border-radius: 50%;
      float: left;
    }
  }
  dd,section {
    padding-left: 30px;
    padding-right: 25px;
    .close{
      position: absolute;
      right: 8px;
      top: 6px;
      display: none;
    }
    h3 {
      color: #666;
      font-size: 14px;
      span {
        font-size: 12px;
        color: #666;
        padding-left: 26px;

      }

    }

    p {
      color: #333;
      font-size: 14px;
      line-height: 25px;
      margin: 10px 0;
    }
    .del{
      color: #dd5555;
    }
    .img {
      .cf();
      li{
        cursor: pointer;
        width: 120px;
        height: 80px;
        background-color: #999;
        border:1px solid #ddd;
        position: relative;
        overflow: hidden;
        float: left;
        margin-right: 10px;
        margin-top: 5px;
        img{
          max-height: 100%;
        }
      }

    }
    .best{
      color: #3b9f45;
      position: absolute;
      right: 0px;
      top: 0;
      i{
        font-size: 45px;
        color: #4aca5d;
      }
    }
    div {
      font-size: 12px;
      margin-top: 10px;
      line-height: 25px;
      color: #b7c2c7;
      .cf();
      ul{

        li{
          float: left;
          margin-right: 25px;
          font-size: 12px;
          color: @c6;
          &:nth-last-of-type(1){
            color: #dd5555;
          }
        }
      }
      a {
        color: #666;
        float: right;
        font-size: 14px;
        padding: 1px 10px;
          background: #ddd;
          &.noteAnswer{
            color: #dd5555;
            padding: 1px 10px;
            background: #fce4e2;
          }
          &.resolved{
            color: #3b9f45;
            background:#dbeacd;
          }



      }
     label{
       font-size: 12px;
       color: #333;
     }
    }

  }
  padding-bottom: 10px;
  section{
    padding-left: 0px;
  }
}
.myAnswer{
     .itmli{
       &:hover{
         background: #f9fafc;
       }
     }
}
.model{
   position: fixed;
   z-index: 99999;
   width: 100%;
    height: 100%;
    display: none;
    top: 0;

   background: rgba(00, 00, 00, .8);
   section{
     position: absolute;
     background: #fff;
     left: 50%;
     top:50%;
     border-radius: 4px;
     min-width: 680px;
     transform: translate(-50%,-50%);
     -webkit-transform: translate(-50%,-50%);
     -mos-transform: translate(-50%,-50%);
     -o-transform: translate(-50%,-50%);
     -moz-transform: translate(-50%,-50%);
       h2{
         font-size: 18px;
         color: @c6;
         line-height: 48px;
         border-bottom: 1px solid #ccc;
         text-indent: 30px;
         span{
           float: right;
           padding: 10px;
         }
       }
       >div{
         margin: 20px auto;
         width: 620px;
       }
       .select{
        //  width: 620px;
        //  width: 94.5%;
         border: 1px solid #ddd;
         box-sizing: border-box;
         margin: 0 auto;
         position: relative;
         i{
           position: absolute;
           top: 10px;
           right: 16px;
           &:nth-of-type(2){
             display: none;
           }
         }
         select,input {
           padding:0 10px;
            width: 618px;
            height: 40px;
            font-size: 14px;
            color: @c9;
            border: none;
            // appearance:none;
            // -moz-appearance:none;
            // -webkit-appearance:none;
        }
        ul{
          position: absolute;
          padding:0 10px;
           width: 598px;
           top: 40px;

        }
       }

      .tarea{
        margin-top: 14px;
        background: #fff;
        .cf();
        position: relative;
        textarea{
          padding: 10px;
          width: 600px;
          height: 138px;
          background: #fff;
          border: 1px solid #ccc;
        }
        span{
          position: absolute;
          right: 10px;
          bottom: 10px;
          padding-top: 3px;
          color: #999;
        }
      }
      .up{
        width: 90px;
        height: 30px;
        float: left;
        line-height: 30px;
        text-indent: 20px;
        color: #dd5555;
        border: 1px solid #dd5555;
        background: url(../../images/index/j_03.jpg) no-repeat 10px center;
        &:nth-of-type(2){
          border: none;
          margin-left: 25px;
          background: url(../../images/index/q_03.jpg) no-repeat left center;
        }
    }
    button{
      float: right;
      background: #e16661;
      color: #fff;
      width: 53px;
      height: 32px;
      line-height: 32px;
      border: none;
      display: inline-block;
      margin: 25px 0 38px;
    }
   }
}
.ulData{
  .cf();
}

.model section .up{
  margin-top: 0;
}