/* LESS Document */
* {
  margin: 0;
  padding: 0;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
audio,
canvas,
video {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
  visibility: hidden;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
code,
kbd,
pre,
samp {
  font-family: monospace,serif;
  font-size: 1em;
}
del {
  font-family: Arial;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
  font-weight: normal;
}
em,
q,
cite,
address {
  font-weight: normal;
  font-style: normal;
}
address {
  display: inline;
}
big,
small {
  font-size: 12px;
}
body {
  font: 14px/1.5 Microsoft Yahei, "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
  vertical-align: middle;
  color: #333;
  background: #ffffff;
}
img {
  border: 0;
}
li {
  list-style: none;
}
i {
  font-style: normal;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
}
strong {
  font-weight: bold;
}
del {
  font-family: Simsun;
}
dfn {
  padding-right: 2px;
  text-decoration: none;
  font-family: Arial;
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  text-align: left;
  font-weight: normal;
}
fieldset,
legend {
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button,
input,
select,
select optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
  vertical-align: middle;
}
button,
input,
select[multiple],
textarea {
  background-image: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/* link */
a {
  color: #4d4d4d;
  text-decoration: none;
  outline-style: none;
  cursor: pointer;
}
a:hover {
  color: #06c;
  text-decoration: underline;
  transition: color .20s linear;
  -o-transition: color .20s linear;
  -webkit-transition: color .20s linear;
  -moz-transition: color .20s linear;
}
a:link {
  text-decoration: none;
  cursor: pointer;
}
i {
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*---------- 实用工具 ----------*/
/* form */
input,
select {
  vertical-align: middle;
  font-size: 14px;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
  color: #333;
  outline: none;
}
input[type="text"]:disabled {
  background-color: #bbbbbb;
  color: #666;
}
input[type="checkbox"],
input[type="radio"] {
  margin-right: 4px;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background-color: #33b0c4;
  color: #fff;
}
/* input placeholder color */
input::-webkit-input-placeholder {
  color: #bbbbbb;
  text-transform: uppercase;
}
input::-moz-placeholder {
  color: #bbbbbb;
  text-transform: uppercase;
}
input:-moz-placeholder {
  /* Older versions of Firefox */
  color: #bbbbbb;
  text-transform: uppercase;
}
input:-ms-input-placeholder {
  color: #bbbbbb;
  text-transform: uppercase;
}
/* 清除浮动 */
/* 圆角 */
/* link in text */
a.t {
  text-decoration: underline;
}
a.t:hover {
  color: #f30;
  text-decoration: underline;
}
/* clear float */
.cf {
  zoom: 1;
}
/* for IE */
.cf:after {
  content: ".";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
/* for other */
/* end of clear float */
/* float */
.left {
  float: left;
}
.right {
  float: right;
}
.fnone {
  float: none;
}
.middle {
  float: left;
}
/* text-align */
.tleft {
  text-align: left;
}
.tright {
  text-align: right;
}
.tcenter {
  text-align: center;
}
/* display */
.dis {
  display: block;
}
.undis {
  display: none;
}
/*常用字号*/
/*常用颜色*/
/* 圆角  */
/*边框圆角*/
.sanjiao {
  border-width: 20px;
  border-color: transparent transparent #cccccc transparent;
  border-style: dashed dashed solid dashed;
  width: 0;
  height: 0;
  overflow: hidden;
}
/* clicked color */
.clcikActive {
  color: #ffffff;
  background: #33b0c4;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
/*单行载断*/
/*单行载断溢出省略号*/
/*3行载断溢出省略号*/
/* 面包屑 */
.crumb {
  display: none;
}
@media (min-width: 768px) {
  .crumb {
    display: block;
    *zoom: 1;
    zoom: 1;
    line-height: 50px;
  }
  .crumb:after {
    content: " ";
    clear: both;
    display: table;
  }
  .crumb p {
    color: #999;
  }
  .crumb p a {
    padding: 0 10px;
  }
  .crumb p span {
    padding-left: 10px;
  }
}
/*配模式定位*/
/*1200屏*/
/* 背景自适应 */
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?-ivr5ln');
  src: url('fonts/icomoon.eot?#iefix-ivr5ln') format('embedded-opentype'), url('fonts/icomoon.ttf?-ivr5ln') format('truetype'), url('fonts/icomoon.woff?-ivr5ln') format('woff'), url('fonts/icomoon.svg?-ivr5ln#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?kabozi');
  src: url('fonts/icomoon.eot?#iefixkabozi') format('embedded-opentype'), url('fonts/icomoon.woff?kabozi') format('woff'), url('fonts/icomoon.ttf?kabozi') format('truestype'), url('fonts/icomoon.svg?kabozi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"],
i {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrap {
  max-width: 1200px;
  margin: 0 auto;
  min-width: 1024px;
}
.index-header2 {
  position: fixed;
  left: 0px;
  top: 0px;
  min-width: 1024px;
  width: 100%;
  background-color: #000000;
  *zoom: 1;
  zoom: 1;
  height: 50px;
  z-index: 99;
}
.index-header2:after {
  content: " ";
  clear: both;
  display: table;
}
.index-header2 .indexleft {
  width: 50%;
  float: left;
}
.index-header2 .indexleft .logo {
  float: left;
  margin-top: 10px;
}
.index-header2 .indexleft ul {
  float: left;
  margin-left: 20px;
}
.index-header2 .indexleft ul li {
  float: left;
  width: 70px;
  line-height: 50px;
  text-align: center;
}
.index-header2 .indexleft ul li a {
  color: #999999;
}
.index-header2 .indexright {
  width: 50%;
  float: right;
}
.index-header2 .indexright .searchinput {
  margin-top: 10px;
  float: right;
  height: 30px;
  width: 224px;
  position: relative;
  margin-right: 21px;
}
.index-header2 .indexright .searchinput input {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  border: 1px solid #71787d;
  padding-right: 50px;
  padding-left: 10px;
  box-sizing: border-box;
  background-color: transparent;
  color: #fff;
}
.index-header2 .indexright .searchinput a {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  top: 0;
}
.index-header2 .indexright .searchinput a i {
  font-size: 19px;
  color: #71787d;
}
.index-header2 .indexright .info {
  float: right;
}
.index-header2 .indexright .info > ul > li {
  cursor: pointer;
  text-align: center;
  width: 50px;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  font-size: 21px;
  vertical-align: middle;
  position: relative;
}
.index-header2 .indexright .info > ul > li .peo-copy {
  display: none;
  width: 100%;
  height: 4px;
  bottom: -2px;
  background-color: #262626;
  position: absolute;
  z-index: 100;
}
.index-header2 .indexright .info > ul > li:nth-of-type(3) i {
  font-size: 30px;
  display: block;
  float: left;
  margin-top: 16px;
  margin-left: 10px;
}
.index-header2 .indexright .info > ul > li i {
  color: #71787d;
}
.index-header2 .indexright .info > ul > li.phone {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}
.index-header2 .indexright .info > ul > li.phone .people-sel {
  display: none;
  position: absolute;
  top: 50px;
  right: -1px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #262626;
  z-index: 99;
  border: 1px solid #000000;
}
.index-header2 .indexright .info > ul > li.phone .people-sel ul li {
  width: 160px;
  line-height: 40px;
  border-bottom: 1px solid #000000;
}
.index-header2 .indexright .info > ul > li.phone .people-sel ul li a {
  color: #999999;
  font-size: 14px;
}
.index-header2 .indexright .info > ul > li.phone.selected {
  border-color: #262626;
  background-color: #262626;
}
.index-header2 .indexright .info > ul > li.phone.selected .peo-copy {
  display: block;
}
.index-header2 .indexright .info > ul > li.phone.selected .people-sel {
  display: block;
}
.index-header2 .indexright .info > ul > li.phone i:last-of-type,
.index-header2 .indexright .info > ul > li.people i:last-of-type {
  font-size: 22px;
  margin: 0 3px;
}
.index-header2 .indexright .info > ul > li:nth-of-type(2) span,
.index-header2 .indexright .info > ul > li:nth-of-type(3) span {
  font-size: 12px;
  display: block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  background-color: #dd5555;
  color: #ffffff;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  top: 16px;
}
.index-header2 .indexright .info > ul > li:nth-of-type(2) span i {
  vertical-align: middle;
  color: #ffffff;
}
.index-header2 .indexright .info > ul > li:nth-of-type(4) {
  margin-left: 20px;
  width: 80px;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}
.index-header2 .indexright .info > ul > li:nth-of-type(4) .people-sel {
  display: none;
  position: absolute;
  top: 50px;
  right: -1px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #262626;
  z-index: 99;
  border: 1px solid #000000;
}
.index-header2 .indexright .info > ul > li:nth-of-type(4) .people-sel ul li {
  width: 160px;
  line-height: 40px;
  border-bottom: 1px solid #000000;
}
.index-header2 .indexright .info > ul > li:nth-of-type(4) .people-sel ul li:last-of-type {
  border: none;
}
.index-header2 .indexright .info > ul > li:nth-of-type(4) .people-sel ul li a {
  color: #999999;
  font-size: 14px;
}
.index-header2 .indexright .info > ul > li:nth-of-type(4).selected {
  border-color: #262626;
  background-color: #262626;
}
.index-header2 .indexright .info > ul > li:nth-of-type(4).selected .peo-copy {
  display: block;
}
.index-header2 .indexright .info > ul > li:nth-of-type(4).selected .people-sel {
  display: block;
}
@media (min-width: 1200px) {
  .index-header2 .indexleft ul {
    margin-left: 60px;
  }
  .index-header2 .indexright .searchinput {
    margin-right: 30px;
  }
}
.hr50 {
  height: 50px;
  overflow: hidden;
}
.footbottom {
  overflow: hidden;
  background-color: #232323;
  margin-top: 25px;
}
.footbottom .footnav {
  overflow: hidden;
  margin-top: 26px;
  padding-bottom: 26px;
  border-bottom: 1px solid #555555;
}
.footbottom .footnav dl {
  width: 18%;
  float: left;
}
.footbottom .footnav dl dt {
  color: #ffffff;
  font-size: 20px;
  line-height: 45px;
}
.footbottom .footnav dl dd {
  line-height: 27px;
}
.footbottom .footnav dl dd a {
  color: #999999;
  font-size: 14px;
}
.footbottom .footnav ul {
  float: right;
  width: 28%;
}
.footbottom .footnav ul li {
  margin-top: 12px;
}
.footbottom .footnav ul li i {
  margin-right: 15px;
}
.footbottom .footnav ul li h3 {
  font-size: 24px;
  color: #999999;
}
.footbottom .footnav ul li p {
  font-size: 14px;
  color: #999999;
}
.footbottom .footnav ul li p i {
  font-size: 20px;
  float: left;
  margin-top: 2px;
}
.footbottom .footnav ul li p a {
  color: #999999;
}
.footbottom .footnav ul li:first-of-type p {
  padding-left: 40px;
}
.footbottom .foota {
  text-align: center;
  margin-top: 30px;
}
.footbottom .foota a {
  font-size: 14px;
  margin: 0 15px;
  color: #999999;
}
.footbottom .foota a img {
  vertical-align: middle;
  margin-right: 10px;
}
.footbottom .copy {
  color: #999999;
  text-align: center;
  line-height: 60px;
  font-size: 14px;
}
.sidelan {
  width: 56px;
  position: fixed;
  top: 50%;
  right: 0;
  margin-top: -150px;
}
.sidelan li {
  width: 100%;
  margin-bottom: 2px;
  background-color: #dddddd;
  text-align: center;
  padding: 6px 0;
}
.sidelan li a {
  font-size: 12px;
  color: #999999;
}
.sidelan li a i {
  font-size: 34px;
}
.sidelan li:hover {
  background-color: #dd5555;
}
.sidelan li:hover a {
  color: #ffffff;
}
.sidelan li:last-of-type {
  padding: 12px 0;
}
.sidelan li:last-of-type a i {
  font-size: 26px;
}
body {
  min-width: 1024px;
  background-color: #f4f4f4;
}
.sp_top {
  font-size: 20px;
  background-image: url("../images/sp_top1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sp_top .sp_top_box {
  max-width: 1200px;
  padding: 2.5em 2em 2.5em 8em;
  margin: 0 auto 1.5em;
  box-sizing: border-box;
  position: relative;
}
.sp_top .sp_top_box div {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  margin-top: -2.5em;
  position: absolute;
  left: 2em;
  top: 50%;
}
.sp_top .sp_top_box div img {
  width: 100%;
  height: 100%;
}
.sp_top .sp_top_box h2 {
  font-size: 1em;
  color: #333;
}
.sp_top .sp_top_box p {
  font-size: 0.8em;
  color: #a09f9b;
}
.sp_main {
  max-width: 1200px;
  margin: auto;
  font-size: 14px;
  *zoom: 1;
  zoom: 1;
}
.sp_main:after {
  content: " ";
  clear: both;
  display: table;
}
.sp_main .sp_main_left {
  width: 15%;
  float: left;
  background: #fff;
  padding: 0.4em 0;
}
.sp_main .sp_main_left a {
  display: block;
  padding-left: 35%;
  line-height: 2.8em;
  box-sizing: border-box;
}
.sp_main .sp_main_left a i {
  margin-left: -1.2em;
  margin-right: 0.2em;
  font-size: 1.2em;
  color: #d25454;
}
.sp_main .sp_main_left .sp_sel {
  background: #e45050;
  color: #fff;
}
.sp_main .sp_main_left .sp_sel i {
  color: #fff;
}
.sp_main .sp_main_right {
  width: 83.333%;
  float: right;
  background: #fff;
  padding: 0 25px 25px;
  margin-bottom: 100px;
  box-sizing: border-box;
}
.sp_main .sp_main_right ul {
  border-bottom: 2px solid #efefef;
  padding-left: 0.8em;
  box-sizing: border-box;
}
.sp_main .sp_main_right ul li {
  display: inline-block;
  color: #666;
  margin-bottom: -2px;
  border-bottom: 2px solid transparent;
  padding: 1.3em 0.8em 1.1em;
  cursor: pointer;
}
.sp_main .sp_main_right ul .sp_selected {
  border-color: #e45050;
  color: #dd5555;
}
.sp_main .sp_main_right .pages {
  width: 100%;
  position: absolute;
  bottom: -80px;
  text-align: center;
}
.sp_main .sp_main_right .pages .pagesword {
  display: inline-block;
  color: #666666;
}
.sp_main .sp_main_right .pages .page {
  display: inline-block;
  *zoom: 1;
  zoom: 1;
}
.sp_main .sp_main_right .pages .page:after {
  content: " ";
  clear: both;
  display: table;
}
.sp_main .sp_main_right .pages .page .next i,
.sp_main .sp_main_right .pages .page .prev i {
  font-size: 18px;
}
.sp_main .sp_main_right .pages .page i {
  color: #999999;
}
.sp_main .sp_main_right .pages .page a,
.sp_main .sp_main_right .pages .page span {
  background-color: #fafafa;
  cursor: pointer;
  padding: 6px 14px;
  margin: 0 5px;
  color: #666666;
}
.sp_main .sp_main_right .pages .page a.selected,
.sp_main .sp_main_right .pages .page span.selected {
  background-color: #df5555;
  color: #ffffff;
}
.sp_main .sp_main_right .pages .page span i {
  color: #df5555;
}
.sp_main .sp_main_right .pages .page span.nolink i {
  color: #999999;
}
.sp_main .sp_main_right dl {
  background: #f9fafb;
  padding: 5% 0 5% 10%;
  margin-top: 30px;
}
.sp_main .sp_main_right dl dd {
  padding-left: 4.5em;
  line-height: 2.8em;
  margin-top: 1.2em;
}
.sp_main .sp_main_right dl dd span {
  display: inline-block;
  width: 3em;
  text-align: right;
  margin-left: -4.5em;
  color: #999;
  float: left;
}
.sp_main .sp_main_right dl dd input {
  width: 25em;
  padding-left: 10px;
  border: 1px solid #ddd;
}
.sp_main .sp_main_right dl dd button {
  border: none;
  background: #dd5555;
  width: 10em;
  color: #fff;
  font-size: 16px;
}
.sp_main .sp_main_right table {
  width: 100%;
  margin-top: 30px;
}
.sp_main .sp_main_right table tr {
  border: 1px solid #ddd;
  line-height: 2.8em;
  color: #666;
}
.sp_main .sp_main_right table tr th {
  text-align: center;
  background: #f9fafb;
}
.sp_main .sp_main_right table tr td {
  text-align: center;
}
.sp_main .sp_main_right .sp_ulSel {
  min-height: 700px;
  display: none;
  box-sizing: border-box;
  position: relative;
}
.sp_main .sp_main_right .sp_ulSel:nth-of-type(1) {
  display: block;
}
