/* 清除浮动 */
/* 圆角 */
/* link in text */
a.t {
  text-decoration: underline;
}
a.t:hover {
  color: #f30;
  text-decoration: underline;
}
/* clear float */
.cf {
  zoom: 1;
}
/* for IE */
.cf:after {
  content: ".";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
/* for other */
/* end of clear float */
/* float */
.left {
  float: left;
}
.right {
  float: right;
}
.fnone {
  float: none;
}
.middle {
  float: left;
}
/* text-align */
.tleft {
  text-align: left;
}
.tright {
  text-align: right;
}
.tcenter {
  text-align: center;
}
/* display */
.dis {
  display: block;
}
.undis {
  display: none;
}
/*常用字号*/
/*常用颜色*/
/* 圆角  */
/*边框圆角*/
.sanjiao {
  border-width: 20px;
  border-color: transparent transparent #cccccc transparent;
  border-style: dashed dashed solid dashed;
  width: 0;
  height: 0;
  overflow: hidden;
}
/* clicked color */
.clcikActive {
  color: #ffffff;
  background: #33b0c4;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
/*单行载断*/
/*单行载断溢出省略号*/
/*3行载断溢出省略号*/
/* 面包屑 */
.crumb {
  display: none;
}
@media (min-width: 768px) {
  .crumb {
    display: block;
    *zoom: 1;
    zoom: 1;
    line-height: 50px;
  }
  .crumb:after {
    content: " ";
    clear: both;
    display: table;
  }
  .crumb p {
    color: #999;
  }
  .crumb p a {
    padding: 0 10px;
  }
  .crumb p span {
    padding-left: 10px;
  }
}
/*配模式定位*/
/*1200屏*/
/* 背景自适应 */
input,
button,
select,
label,
textarea {
  border: 0px;
  outline: none!important;
  -webkit-appearance: none!important;
}
textarea {
  resize: none;
}
/*发票弹出层*/
.popupLayer .popBox {
  width: 600px;
}
.popupLayer .popBox .sqfp,
.popupLayer .popBox .fpxx {
  display: none;
  width: 600px;
  height: auto;
  max-height: 80%;
}
.sqfp .title,
.fpxx .title {
  border-bottom: 1px solid #ccc;
  padding: 10px 25px 5px;
  color: #666;
  font-size: 18px;
}
.sqfp {
  margin-bottom: -30px;
}
.sqfp .tabTait {
  box-sizing: border-box;
}
.sqfp .tabTait li {
  display: inline-block;
  color: #666;
  border-bottom: 2px solid transparent;
  padding: 1em 0.5em 0.6em;
  cursor: pointer;
  font-size: 16px;
}
.sqfp .tabTait .on {
  border-color: #e45050;
  color: #dd5555;
}
.fpxx {
  margin-bottom: -30px;
}
.btnGray {
  border: 1px solid #ddd;
  padding: 5px 10px;
  background-color: #fff;
}
.btnRed {
  display: block;
  background-color: #dd5555;
  color: #fff;
  width: 160px;
  height: 40px;
  border: 0;
  margin: 20px auto;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
}
.messages {
  background-color: #fffdf9;
  padding: 14px 20px 20px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.8;
  vertical-align: middle;
}
.messages p {
  vertical-align: middle;
}
.messages p > i {
  margin-right: 5px;
  font-size: 14px;
  vertical-align: middle;
}
.messages .red {
  color: #dd5555;
}
.messages .green {
  color: #339d3f;
}
.main {
  box-sizing: border-box;
  background-color: #fff;
  margin: 0 20px;
}
.bill {
  *zoom: 1;
  zoom: 1;
  padding: 20px 40px 20px 20px;
  box-sizing: border-box;
}
.bill:after {
  content: " ";
  clear: both;
  display: table;
}
.bill dd {
  margin-top: 10px;
  min-height: 40px;
  line-height: 1.8;
  *zoom: 1;
  zoom: 1;
}
.bill dd:after {
  content: " ";
  clear: both;
  display: table;
}
.bill dd:first-child {
  margin-top: 0;
}
.bill dd > span {
  float: left;
  text-align: right;
  padding-right: 20px;
  display: inline-block;
  width: 24%;
  box-sizing: border-box;
  line-height: 35px;
  vertical-align: middle;
}
.bill dd > span > i {
  display: inline-block;
  font-size: 1.5em;
  height: 35px;
  line-height: 40px;
  overflow: hidden;
  color: #dd5555;
  vertical-align: middle;
  margin-right: 5px;
}
.bill dd > p {
  float: left;
  display: inline-block;
  width: 76%;
  padding-top: 5px;
}
.bill dd > div {
  float: left;
  display: inline-block;
  width: 76%;
}
.bill dd > div input[type="text"],
.bill dd > div textarea {
  width: 100%;
  border: 1px solid #ddd;
  box-sizing: border-box;
  padding: 5px 10px;
}
.bill dd > div input[type="text"].warn,
.bill dd > div textarea.warn {
  border-color: #dd5555;
}
.bill dd > div input[type="text"] {
  height: 34px;
}
.bill dd > div textarea {
  height: 3.6em;
  resize: none;
}
.bill dd > div.tait > label {
  margin: 5px 5px 10px 0;
  display: inline-block;
}
.bill dd > div.tait > label span {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid #ccc;
  margin-right: 5px;
  width: 14px;
  height: 14px;
  vertical-align: middle;
}
.bill dd > div.tait > label input[type="radio"] {
  width: 16px;
  height: 16px;
}
.bill dd > div.tait > label.on {
  color: #dd5555;
  background: url(../../../images/commonimages/popup/choose.png) left center no-repeat;
}
.bill dd > div.tait > label.on input[type="radio"] {
  opacity: 0;
  -webkit-appearance: none;
}
.bill dd > div.fap {
  margin-top: -10px;
}
.bill dd > div.fap > label {
  display: inline-block;
  resize: none;
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 5px 15px 5px 0;
  margin-top: 10px;
  margin-right: 10px;
  position: relative;
}
.bill dd > div.fap > label input[type="radio"] {
  opacity: 0;
  width: 6px;
}
.bill dd > div.fap > label > i {
  display: none;
  position: absolute;
  right: -5px;
  bottom: -4px;
  font-size: 26px;
}
.bill dd > div.fap > label.on {
  border-color: #dd5555;
  color: #dd5555;
}
.bill dd > div.fap > label.on > i {
  display: inline-block;
}
.bill dd > div.xuz {
  float: none;
  width: auto;
  padding-left: 2.5em;
}
.bill dd > div.xuz > ol {
  margin-left: 1.2em;
  color: #666;
}
.bill dd > div.xuz > ol > li {
  list-style-type: decimal;
  text-align: justify;
  margin: 5px 0;
}
.bill .conItem {
  display: none;
}
.yqts {
  margin: 0 15px 0 20px;
  padding-left: 6em;
}
.yqts > span {
  display: inline-block;
  margin-left: -4.95em;
}
.fpxx .bill p {
  color: #333;
}
.fpxx .messages {
  text-align: center;
}
@media (max-width: 375px) {
  .contain,
  .yqts {
    zoom: .9;
  }
}
