/* 清除浮动 */
/* 圆角 */
/* link in text */
a.t {
  text-decoration: underline;
}
a.t:hover {
  color: #f30;
  text-decoration: underline;
}
/* clear float */
.cf {
  zoom: 1;
}
/* for IE */
.cf:after {
  content: ".";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
/* for other */
/* end of clear float */
/* float */
.left {
  float: left;
}
.right {
  float: right;
}
.fnone {
  float: none;
}
.middle {
  float: left;
}
/* text-align */
.tleft {
  text-align: left;
}
.tright {
  text-align: right;
}
.tcenter {
  text-align: center;
}
/* display */
.dis {
  display: block;
}
.undis {
  display: none;
}
/*常用字号*/
/*常用颜色*/
/* 圆角  */
/*边框圆角*/
.sanjiao {
  border-width: 20px;
  border-color: transparent transparent #cccccc transparent;
  border-style: dashed dashed solid dashed;
  width: 0;
  height: 0;
  overflow: hidden;
}
/* clicked color */
.clcikActive {
  color: #ffffff;
  background: #33b0c4;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
/*单行载断*/
/*单行载断溢出省略号*/
/*3行载断溢出省略号*/
/* 面包屑 */
.crumb {
  display: none;
}
@media (min-width: 768px) {
  .crumb {
    display: block;
    *zoom: 1;
    zoom: 1;
    line-height: 50px;
  }
  .crumb:after {
    content: " ";
    clear: both;
    display: table;
  }
  .crumb p {
    color: #999;
  }
  .crumb p a {
    padding: 0 10px;
  }
  .crumb p span {
    padding-left: 10px;
  }
}
/*配模式定位*/
/*1200屏*/
/* 背景自适应 */
body {
  background-color: #f4f4f4;
}
.order,
.uorder {
  width: 400px;
  height: 240px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  text-align: center;
}
.order .mes,
.uorder .mes {
  margin-top: 26px;
  margin-bottom: 15px;
  font-size: 18px;
}
.order .mes > i,
.uorder .mes > i {
  font-size: 22px;
  margin-right: 10px;
}
.order .mes {
  color: #419f45;
}
.uorder .mes {
  color: #dd5555;
}
.popupLayer {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.7);
}
.popupLayer .popBox {
  color: #666;
  background-color: #fff;
  position: absolute;
  max-width: 80%;
  max-height: 76%;
  overflow-x: hidden;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 1.8;
}
.popupLayer .popBox .closeX {
  color: #999;
  position: absolute;
  top: 15px;
  right: 10px;
  display: inline-block;
  font-size: 18px;
  width: 1em;
  height: 1em;
  line-height: 1em;
  cursor: pointer;
  font-weight: normal;
}
